NODE_ENV=development
NEXT_PUBLIC_SITE_URL=

DATABASE_URL=
DEV_DB_PUSH=true
PAYLOAD_SECRET=

BLOB_READ_WRITE_TOKEN=
BLOB_PREFIX=

AUTH_SECRET=
AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

VERCEL_OIDC_TOKEN=
